.loading-spinner {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.loading-spinner__message {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-top: 16px;
  margin-bottom: 0;
}